@import "user-config.css";

body{
    margin: 100px 0;
    background-color:  var(--sm-background-color);
    background-image:  var(--background-image-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    min-height: auto;
    width: auto;
    align-items: center;
    text-align: center;
    color:  var(--font-color);
    font-family: var(--font-family);
    padding: 0 15px;
}

a{
    color: var(--link-color);
    text-decoration: none;
    font-weight: var(--link-weight);
}

a:hover{
    color: var(--link-color-hover);
    text-decoration: none;
    font-weight: var(--link-weight-hover);
}

.headerSection{
    margin: 50px 0 ;
}

.profilePic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: var(--h-profile-pic-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 2.5px;
}

.profilePic-border{
    width: 105px;
    height: 105px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #666;
    margin: auto;
}

.verified{
    color: var(--h-verified-color);
    fill: var(--h-verified-color);
    position: relative;
    top: -25px;
    left: 35px;
}

h1{
    color: var(--h-title-font-color);
    font-size: var(--h-title-font-size);
    font-weight: var(--h-title-font-weight);
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.subtitle{
    font-size: var(--h-subtitle-font-size);
    font-weight: var(--h-subtitle-font-weight);
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    color: var(--h-subtitle-font-color);
}

svg{
    display: block;
    margin: auto;
}

.social{
    color: var(--sm-logos-color);
    fill: var(--sm-logos-color);
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: var(--sm-background-color);
    margin: 2.5px;
    display: inline-grid;
}

.social:hover{
    background-color: var(--sm-background-color-hover);
}

@media only screen and (max-width: 480px){
    .social-sec{
        width: 200px;
        margin: auto;
    }
}

footer{
    margin: 50px 0 ;
    font-weight:200;
    font-size: 0.75em;
}

footer a{
    color: var(--f-link-color);
    font-weight: var(--f-link-weight);
}

footer a:hover{
    color: var(--f-link-color-hover);
    font-weight: var(--f-link-weight-hover);
}
